/* Forms */
form select {
    width: 500px;
}

form input[type=text],
form input[type=datetime-local] {
    width: 492px;
}

form table, 
form th, 
form td, 
form tr:nth-child(even), 
form tr:hover {
    border: none;
    background-color: transparent;
}

form input[type=button] {
    padding: 2px;
    background-color: #79d4f8;
}

/* Tables */
table, 
th, 
td {
    border: 1px solid #000000;
    padding: 2px;
}

table {
    border-collapse: collapse;
}

th {
    color: #ffffff;
    background-color: #0099d4;
    height: 24px;
}

tr:nth-child(even) {
    background-color: #b2e0f2;
}

tr:hover {
    background-color: #fee0bc;
}

table .positive {
    color: #00ff00;
}

table .negative {
    color: #ff0000;
}